@import "../../../common.css";

.white-cell {
    background-color: var(--white-cell-color);
}

.black-cell {
    background-color: var(--black-cell-color);
}

#board-grid {
    display: grid;
    grid-template-columns: repeat(8, var(--cell-size));
    grid-template-rows: repeat(8, var(--cell-size));
}

#borad-border {
    border: 15px solid var(--border-color);
}
